description: |-
  in-flow blocks

css: |-
  {{> containing_block.css}}

html: |-
  <div class="blue" style="width: 80%; height: 80%;">
    <div class="green" style="width: 50%; height: 50%;"></div>
  </div>
