description: |
  The flex direction of the flex box is `column`.

css: |
  {{> flex_direction.css}}

  .flex {
    flex-direction: column;
  }

html: |
  <div class="flex yellow">
    <div class="red"></div>
    <div class="green"></div>
    <div class="blue"></div>
  </div>
