{{#> layout.html}}

{{#*inline 'description'}}
The constraints are solved for the CSS `top` and `left` properties.
{{/inline}}

{{#*inline 'styles'}}
{{> absolutely_positioned_box.styles}}

.abs {
  width: 100px;
  height: 100px;
  padding: 10px;
  border: solid 10px red;
  margin: 10px;
  bottom: 10px;
  right: 10px;
}
{{/inline}}

{{#*inline 'content'}}
<div class="abs blue"></div>
{{/inline}}

{{/layout.html}}
