description: |-
  The constraints are solved for the CSS `bottom` and `right` properties.

css: |-
  {{> absolutely_positioned_box.css}}

  .abs {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: solid 10px red;
    margin: 10px;
    top: 10px;
    left: 10px;
  }

html: |-
  <div class="abs blue"></div>
