description: |-
  The block box should have specified width and height.

css: |-
  {{> block_box_constraints.css}}

  .block {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: solid 20px red;
    margin: 30px;
  }

html: |-
  <div class="blue block"></div>
