{{#> layout.html}}

{{#*inline 'description'}}
Over-constrained: The right margin of the block box becomes -200px.
{{/inline}}

{{#*inline 'styles'}}
{{> block_box_constraints.styles}}

.block {
  width: 1200px;
  height: 100px;
}
{{/inline}}

{{#*inline 'content'}}
<div class="blue block"></div>
{{/inline}}

{{/layout.html}}
