description: |-
  The block box is horizontally centered.

css: |-
  {{> block_box_constraints.css}}

  .block {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

html: |-
  <div class="blue block"></div>
