{{#> layout.html}}

{{#*inline 'description'}}
The block box should have specified width and height.
{{/inline}}

{{#*inline 'styles'}}
{{> block_box_constraints.styles}}

.block {
  width: 100px;
  height: 100px;
  padding: 10px;
  border: solid 20px red;
  margin: 30px;
}
{{/inline}}

{{#*inline 'content'}}
<div class="blue block"></div>
{{/inline}}

{{/layout.html}}
