{% extends '_block_box_constraints.html.njk' %}

{% block description %}
The block box is horizontally centered.
{% endblock %}

{% block style %}
{{ super() }}

.block {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
{% endblock %}

{% block content %}
<div class="blue block"></div>
{% endblock %}
