{{#> layout.html}}

{{#*inline 'description'}}
The containing block of a fixed positioned box is the viewpoert.
{{/inline}}

{{#*inline 'styles'}}
{{> containing_block.styles}}
{{/inline}}

{{#*inline 'content'}}
<div class="abs">
  <div class="fixed blue" style="width: 80%; height: 80%;"></div>
</div>
{{/inline}}

{{/layout.html}}
