{{#> layout.html}}

{{#*inline 'description'}}
The containing block of an absolutely positioned box is the padding box of the nearest ancestor
positioned box.
{{/inline}}

{{#*inline 'styles'}}
{{> containing_block.styles}}

.containing-block {
  padding: 50px;
  border: solid 10px transparent;
}
{{/inline}}

{{#*inline 'content'}}
<div class="abs containing-block">
  <div class="abs blue" style="width: 80%; height: 80%;"></div>
</div>
{{/inline}}

{{/layout.html}}
