{{#> layout.html}}

{{#*inline 'description'}}
The containing block of a top-level positioned box is the viewpoert.
{{/inline}}

{{#*inline 'styles'}}
{{> containing_block.styles}}
{{/inline}}

{{#*inline 'content'}}
<div class="abs blue" style="width: 80%; height: 80%;"></div>
{{/inline}}

{{/layout.html}}
