{% extends '_containing_block.html.njk' %}

{% block description %}
in-flow blocks
{% endblock %}

{% block content %}
<div class="blue" style="width: 80%; height: 80%;">
  <div class="green" style="width: 50%; height: 50%;"></div>
</div>
{% endblock %}
