description: |-
  Adjacent blocks with no margins.

css: |-
  {{> margin_collapse.css}}

  .block {
    width: auto;
    height: 50px;
  }

html: |-
  <div class="green block"></div>
  <div class="blue block"></div>
