description: |-
  The red box should be painted before the blue box.

  The blue box doesn't establish a stacking context.  So, the red box is stacked onto the root
  layer and it's z-index is less than the blue box's one.

css: |-
  {{> z_index.css}}

html: |-
  <div class="abs blue">
    <div class="abs red" style="z-index: -1"></div>
  </div>
