/logview/assets/
/metrics/*.ndjson
/src/lexer/dfa/*.rs
/src/lexer/goals.rs
/src/lexer/grammar.txt
/src/lexer/grammar.yaml
/src/lexer/tokens.json
/src/lexer/tokens.rs
/src/parser/grammar.txt
/src/parser/grammar.yaml
/src/parser/lalr/action.rs
/src/parser/lalr/auto_semicolon.rs
/src/parser/lalr/debug.rs
/src/parser/lalr/goal_symbols.rs
/src/parser/lalr/goto.rs
/src/parser/lalr/lexical_goal.rs
/src/parser/lalr/non_terminals.rs
/src/symbol/builtins.rs
/src/syntax/actions.rs
