---
BasedOnStyle: Chromium
ColumnLimit: 99
---
Language: Cpp

# See https://chromium.googlesource.com/chromium/src/+/HEAD/.clang-format
Standard: Cpp11
InsertBraces: true
InsertNewlineAtEOF: true
IncludeBlocks: Regroup

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
