---
BasedOnStyle: Chromium
ColumnLimit: 99
---
Language: Cpp

# See https://chromium.googlesource.com/chromium/src/+/HEAD/.clang-format
Standard: Cpp11
InsertBraces: true
InsertNewlineAtEOF: true

AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignOperands: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: false
DerivePointerAlignment: false
