root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 99

[*.rs]
indent_size = 4

[*.rs.hbs]
indent_size = 4

[*.html.hbs]
emacs_mode = html

[*.rs.hbs]
emacs_mode = rust

[*.yml.hbs]
emacs_mode = yaml
