/target/
/vendor/.crates2.json
/vendor/.crates.toml
/vendor/bin
/vendor/include
/vendor/lib
/vendor/share
.DS_Store
.clangd
.env
.envrc
cobertura.xml
compile_commands.json
flamegraph.svg
memory-profiling_*
perf.data
perf.data.old

# TODO: Should be specified with absolute paths in .gitignore file in each module folder for
# safety.  Because we may need to add the `logger` module for different purposes in the future.
logger.rs
