/target/
/vendor/.crates2.json
/vendor/.crates.toml
/vendor/bin/
/vendor/include/
/vendor/lib/
/vendor/share/
.DS_Store
.cache/clangd/
.clangd
.env
.envrc
cobertura.xml
compile_commands.json
flamegraph.svg
memory-profiling_*
perf.data
perf.data.old
