[submodule "vendor/tc39/test262"]
	path = vendor/tc39/test262
	url = https://github.com/tc39/test262.git
[submodule "vendor/tc39/ecma262"]
	path = vendor/tc39/ecma262
	url = https://github.com/tc39/ecma262.git
[submodule "vendor/tc39/test262-parser-tests"]
	path = vendor/tc39/test262-parser-tests
	url = https://github.com/tc39/test262-parser-tests.git
[submodule "vendor/html5lib/html5lib-tests"]
	path = vendor/html5lib/html5lib-tests
	url = https://github.com/html5lib/html5lib-tests.git
