{% extends '_layout.html.njk' %}

{% block style %}
.abs {
  position: absolute;
}

.fixed {
  position: fixed;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}
{% endblock %}
