description: |
  The flex direction of the flex box is `row`.

css: |
  {{> flex_direction.css}}

  .flex {
    flex-direction: row;
  }

html: |
  <div class="flex yellow">
    <div class="red"></div>
    <div class="green"></div>
    <div class="blue"></div>
  </div>
