description: |-
  The red box should be painted before the blue box.

  The red box does not establish a stacking context and boxes with the same stack level are painted
  in the document tree order.

css: |-
  {{> z_index.css}}

html: |-
  <div class="abs red">
    <div class="abs blue"></div>
  </div>
