{% extends '_layout.html.njk' %}

{% block style %}
.abs {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0px;
}

.fixed {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}
{% endblock %}
