{% extends '_containing_block.html.njk' %}

{% block description %}
The containing block of a fixed positioned box is the viewpoert.
{% endblock %}

{% block content %}
<div class="abs">
  <div class="fixed blue" style="width: 80%; height: 80%;"></div>
</div>
{% endblock %}
