# See https://bencher.dev/docs/how-to/github-actions/#pull-requests-from-forks
name: bench (PR)

on:
  pull_request:
    branches:
      - main
      - release
    types:
      - opened
      - reopened
      - edited
      - synchronize
    paths-ignore:
      - '**.md'

env:
  DENO_DIR: /tmp/deno

jobs:
  bench:
    # Skip if this workflow is triggered by dependabot.
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - uses: davidlattimore/wild-action@latest
      - uses: Swatinem/rust-cache@v2
      - uses: denoland/setup-deno@v2
        with:
          deno-version-file: .tool-versions
      - name: Cache Deno dependencies
        uses: actions/cache@v5
        with:
          path: ${{ env. DENO_DIR }}
          key: deno-dir-${{ runner.os }}-${{ hashFiles('deno.lock') }}
      - name: Codegen
        run: make -j $(nproc) codegen
      - uses: bencherdev/bencher@main
      - name: Benchmark tests
        run: >-
          make bench >benchmark_results.txt
      - name: Upload Benchmark Results
        uses: actions/upload-artifact@v7
        with:
          name: benchmark_results.txt
          path: ./benchmark_results.txt
          retention-days: 1
      - name: Upload GitHub Pull Request Event
        uses: actions/upload-artifact@v7
        with:
          name: event.json
          path: ${{ github.event_path }}
          retention-days: 1
