name: build

on:
  workflow_call:
    inputs:
      runner:
        default: ubuntu-latest
        required: false
        type: string
      rust:
        default: stable
        required: false
        type: string
  workflow_dispatch:
    inputs:
      runner:
        default: ubuntu-latest
        required: false
        type: choice
        options:
          - ubuntu-latest
          - macos-latest
      rust:
        default: stable
        required: false
        type: choice
        options:
          - stable
          - nightly

env:
  DENO_DIR: /tmp/deno

jobs:
  build:
    runs-on: ${{ inputs.runner }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          submodules: recursive
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ inputs.rust }}
          components: clippy, rustfmt
      - uses: rui314/setup-mold@v1
      - uses: Swatinem/rust-cache@v2
      - uses: denoland/setup-deno@v2
        with:
          deno-version-file: .tool-versions
      - name: Cache Deno dependencies
        uses: actions/cache@v5
        with:
          path: ${{ env. DENO_DIR }}
          key: deno-dir-${{ runner.os }}-${{ hashFiles('deno.lock') }}
      - uses: taiki-e/install-action@nextest
      - name: Codegen
        run: make -j $(nproc) codegen
      - name: Check
        run: make check
      - name: Build
        run: make build
      - name: Build (release)
        run: make build OPTIONS='-r'
      - name: Run tests
        run: make test
      - name: Run tc39/test262
        run: make test262 ARGS=''
